
<footer class="footer">
    <hr>
    {% if site.meantime %}
    <h2>In the meantime...</h2>
    <br>
    
    <div class="posts">
      {% for post in site.posts %}
      <!-- <article class="post"> -->
        <h3 class="post-title">
          <a href="{{ post.url | relative_url }}">
            > {{ post.title }}
          </a>
        </h3>
    
        <!-- <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time> -->
    
        <!-- {{ post.content }} -->
      <!-- </article> -->
      {% endfor %}
    </div>
    <br>
    {% endif %}

    <small>
        &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        <a href="/PRIVACY" style="text-decoration: none;">Privacy Policy</a>
    </small>
</footer>
